<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fuzhao.ssm.mapper.RoomInfoMapper">
<!--左外连接查出每个房间的类型-->
    <select id="selectAll" resultType="roomInfo">
        select i.*,t.typeName from tb_room_info i left join tb_room_type t on i.roomTypeId = t.typeId
    </select>
    <delete id="del" parameterType="int">
        delete from tb_room_info where roomId = #{id}
    </delete>
    <select id="selectById" parameterType="int" resultType="roomInfo">
        select i.*,t.typeName from tb_room_info i left join tb_room_type t on i.roomTypeId = t.typeId where roomId = #{id}
    </select>
    <update id="upDate" parameterType="roomInfo">
        update tb_room_info set addTime=#{addTime},joinDay=#{joinDay},totalPrice=#{totalPrice},buyState=#{buyState} where roomId = #{roomId}
    </update>
    <select id="selectAllType" resultType="roomType">
        select * from tb_room_type
    </select>
    <insert id="add" parameterType="roomInfo">
        insert  into tb_room_info(roomName,roomTypeId,roomPrice,roomDes) values (#{roomName},#{roomTypeId},#{roomPrice},#{roomDes})
    </insert>
</mapper>